$tile-width: 220px;
$tile-width-mobile: 200px;
$tile-height: (220px / (10/16));
$tile-height-mobile: (200px / (10/16));
$iconSize: 50px;

.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  min-height: 40vh;
  position: relative;
  width: 100%;

  @include desktop {
    height: 50vh;
  }

  &__inner {
    font-size: 0;
    left: 50%;
    min-height: 40vh;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;

    @include desktop {
      height: 100%;
    }
  }

  &__list {
    @include unstyled-list();
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100vw;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    &::-webkit-scrollbar-thumb {
      background: $white;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  &__item {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    height: $tile-height-mobile;
    margin: 0 15px;
    position: relative;
    scroll-snap-align: start;
    width: $tile-width-mobile;

    @include desktop {
      height: $tile-height;
      width: $tile-width;
    }
  }

  &__img {
    height: $tile-height-mobile;
    object-fit: cover;
    width: $tile-width-mobile;

    @include desktop {
      height: $tile-height;
      width: $tile-width;
    }
  }
}
